<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Flask 로그인 테스트</title>
  </head>
  <body>
    <h1>라우팅 테스트</h1>
    <a href="/hello">/hello로</a>

    
    <h1>로그인 폼</h1>
    <form action="/" id="login" method="post">
      <label for="ID">ID: </label>
      <input type="text" id="ID" placeholder="ID를 입력하세요." />
      <br />

      <label for="PW">PW: </label>
      <input type="password" id="PW" placeholder="PW를 입력하세요." />
      <button type="submit" id="submit">로그인</button>
    </form>
  </body>
</html>
